*{
  margin: 0
}
body{
  /* background-color: #f7cf70; */
  font: 11px Helvetica, Arial, Geneva, sans-serif;
}

.nav{
  width: 100%;
  height: 30px;
  background-color: #f1c038;
}
.nav li{
  padding: 6px 21px;
  box-shadow: box-shadow: 10px 5px 5px red;
  background-color: #f1c038;
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid #eeb311;
  position: relative;
  left: 150px;
  width: 21%;

}
.nav li a{
  /* text-decoration: none;
  color: white */
  /* text-decoration: none; */
  /* color: white */
  /* font-size: 16px; */
/* padding: 0 23px; */
letter-spacing: 3px;
text-transform: uppercase;
font-weight: 100;
/* width: 156px; */
display: block;
/* margin-bottom: 30px; */
/* padding: 8px; */
text-decoration: none;
color: #77787B;
/* background-color: #f1c038; */
/* text-align: center; */
}
.main-content{
  height: 100%;
  width: 80%;
  /* margin: 50px auto 145px auto; */
  /* background-color: #f2f2f2; */
}

.big-nav{
  width: 99%;
  height: 200px;
  /* background-color: #f66; */
  margin: -51px auto 145px auto;
  position: relative;
  bottom: 68px;
}
#center-pic{
  display: block;
  margin: auto;
  position: relative;
  /* max-height: 100%; */
  bottom: 66px;
  width: 100%;
  height: 465px;
}
.big-nav {
  margin-top: 112px;
}

.main-name{
      margin-left: 8px;
      position: relative;
      bottom: 12px;
}
#portfolio{
  /* border-left:  1px solid #eeb311; */
}

.main-name #akouvi{
  font-size: 40px;
  font-weight: lighter;
  margin-top: 6px;
  letter-spacing: 2px;
}
.main-name #description{
  position: relative;
  bottom: 10px;
  color: #767676;
  letter-spacing: 1.5px;
}
.main-nav{
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
}
.main-nav li{
  position: relative;
  left: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  display: inline-block;
  float: right;
  position: relative;
  left: 9px;
  list-style-type: none;
}
.main-nav a{
  width: 160px;
  display: block;
  float: right;
  margin-bottom: 15px;
  margin-right: 9px;
  padding: 7px 8px;
  position: relative;
  bottom: 42px;
  text-decoration: none;
  color: #77787B;
  letter-spacing: 3px;
  background-color: #f1c038;
  text-align: center;
}

.main-nav a {
  background-color: #f1c038;
  -webkit-transition: background-color .3s linear;
  -moz-transition: background-color .3s linear;
  -ms-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.main-nav a:hover{
  border-left: 5px solid #f66;
  background-color: #D8E4E6;
  }

  .hi{
    width: 101px;
    height: 75px;
    background-color: white;
    float: left;
    position: relative;
    top: -107px;
    right: 37px;
    transform: rotate(40deg);
  }

  .hi-two{
    width: 101px;
    height: 75px;
    background-color: white;
    float: right;
    position: relative;
    top: -107px;
    left: 37px;
    transform: rotate(140deg);
  }
  .cards-div{
    margin-top: -50px;
    position: relative;
    left: 50px;
  }
  .card{
    display: inline-block;
    background-color: #f1c038;
    word-wrap: break-word;
    width: 23%;
    height: 100%;;
    padding: 9px;
    margin-left: 12px;
    border-radius: 5px
  }
  .first-card{
    margin-left: -72px;
  }
  .recent-works{
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    margin-top: 17px;
  }
  .exampleWork{
    width: 100%;
     margin-top: -49px;
  }
  .recentWork{
    display: inline-block;
    height: 180px;
    padding: 15px;
    width: 40%;
    border: 2px solid wheat;
    background-color: gray;
    margin-top: 60px;
    border-radius: 5px;
  }
  .recentWork-left-margin{
    margin-left: 15px
  }
  .middle-cards{
    margin-right: 12px
  }









  /*if the device size is this size or smaller make these changes  */
  @media only screen and (min-width: 320px){
    .main-content {
          height: 100%;
          width: 80%;
          /* margin: 50px 33px; */
          /* background-color: #f2f2f2; */
        }
    /* .nav li a {
        text-decoration: none;
        color: white;
      } */
      .nav {
        width: 121%;
        text-align: center;
        margin: 0 auto;
        height: 30px;
        background-color: #f1c038;
        }
      .nav li {
        box-shadow: box-shadow: 10px 5px 5px red;
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #eeb311;
        position: relative;
        left: 109px;
        width: 21%;
      }
      .top-links {
        color: red;
        position: relative;
        left: -106px;
        top: 4px;
        }
        .main-name {
          margin-left: 8px;
          position: relative;
          bottom: 35px;
          text-align: center;
        }
        .main-nav-links{
          display: none;
        }
        #center-pic {
            display: block;
            margin: auto;
            position: relative;
            bottom: 85px;
            width: 118%;
            height: 250px;
            border-radius: 5px solid #f7cf70;
        }
      .hi {
          display: none;
          }
        .hi-two {
            display:  none;
            }
        .cards-div {
        margin-top: -59px;
        position: relative;
        /* left: 72px; */
        color: white;
      }

      .card {
        width: 23%;
        height: 100%;
        padding: 3px;
        margin-right: 0px;
    }
    .card img{
      height: 70%;
    }

    .middle-cards {
      margin-right: 0px;
    }
  .recent-works {
      width: 125%;
  }
  .exampleWork {
      width: 118%;
      margin-top: 0px;
  }
  .recentWork {
      height: 130px;
      padding: 10px;
      width: 40%;
      border: 1px solid wheat;
      margin-top: 18px;
      margin-right: 4px;
  }
  .recentWork-left-margin {
      margin-left: 0px;
      }

  }
  @media only screen and (min-width: 360px){
    .card {
        display: inline-block;
        /* background-color: #f1c038; */
        word-wrap: break-word;
        width: 23%;
        height: 100%;
        padding: 0px;
        margin-left: 1px;
        border-radius: 5px;
    }
    .card img{
      height: 70%;
    }
    .recentWork{
      width: 40%;
    }
}

  @media screen and (min-width: 375px){
    .main-content {
        height: 100%;
        width: 80%;
        margin: 50px 0px;
        /* background-color: #f2f2f2; */
    }

    /* .nav li a {
        text-decoration: none;
        color: white;
      } */
      .nav {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 30px;
        background-color: #f1c038;
        }
      .nav li {
        box-shadow: box-shadow: 10px 5px 5px red;
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #eeb311;
        position: relative;
        left: 109px;
        width: 21%;
      }
    .top-links {
      color: red;
      position: relative;
      left: -106px;
      top: 4px;
      }
      .main-name {
        width: 12px;
        margin-left: 8px;
        position: relative;
        left: 15px;
        bottom: 39px;
        text-align: center;
      }
      .main-nav-links{
        display: none;
      }

    .hi {
        display: none;
        }
  .hi-two {
      display:  none;
      }
    .cards-div {
    width: 122%;
    height: 100%;
    margin-top: -59px;
    position: relative;
    left: 0px;
    color: white;
    }

  .card {
    width: 23%;
    height: 100%;
    }

  .middle-cards {
        margin-right: 0px;
  }
  .recent-works {
      width: 118%;
      height: 40px;
      background-color: #f2f2f2;
      margin-top: 17px;
  }
  .exampleWork {
      width: 118%;
      margin-top: 0px;
  }
  .recentWork {
      width: 40%;
  }
  .recentWork-left-margin {
      margin-left: 0px;
      }
  .big-nav {
    /* margin-top: 52px; */
    margin-left: 6px;
  }
  #description{
    display: none;
  }

  }
  @media screen and (min-width: 411px){
      .card {
        width: 23%;
        height: 100%;
      }
      .card img{
        height: 70%;
      }
      .recentWork{
            width: 176px;
      }
}
  @media screen and (min-width: 414px){
    .main-content {
        height: 100%;
        width: 80%;
        /* margin: 50px -7px; */
    }

    /* .nav li a {
        text-decoration: none;
        color: white;
      } */
      .nav {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 30px;
        background-color: #f1c038;
        }
      .nav li {
        box-shadow: box-shadow: 10px 5px 5px red;
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #eeb311;
        position: relative;
        left: 109px;
        width: 21%;
      }
      .top-links {
        color: red;
        position: relative;
        left: -106px;
        top: 4px;
        }
        .main-name {
          margin-left: 8px;
          position: relative;
          bottom: 35px;
          text-align: center;
        }
        .main-nav-links{
          display: none;
        }
        .big-nav {
            margin-top: 52px;
            margin-left: 20px;
            /* position: relative; */
        }
        #center-pic {
            display: block;
            margin: auto;
            position: relative;
            bottom: 85px;
            width: 118%;
            height: 250px;
            border-radius: 5px solid #f7cf70;
        }
      .hi {
          display: none;
          }
        .hi-two {
          display:  none;
          }
        .cards-div {
          width: 122%;
          height: 100%;
          margin-top: -59px;
          position: relative;
          left: 0px;
          color: white;
        }

      .card {
        display: inline-block;
        /* background-color: #f1c038; */
        word-wrap: break-word;
        width: 23%;
        height: 100%;
        padding: 0px;
        margin-right: 1px;
        border-radius: 5px;
    }
    .card img{
      height: 70%;
    }

  .middle-cards {
        margin-right: 0px;
  }
  .recent-works {
      width: 118%;
      height: 40px;
      background-color: #f2f2f2;
      margin-top: 17px;
  }
  .exampleWork {
      width: 118%;
      margin-top: 0px;
  }
  .recentWork {
      clear: both;
      display: inline-block;
      height: 130px;
      padding: 10px;
      width: 40%;
      border: 1px solid wheat;
      background-color: gray;
      margin-top: 18px;
      margin-right: 4px;
      border-radius: 5px;
  }
  .recentWork-left-margin {
      margin-left: 0px;
      }
      .big-nav {
      /* margin-top: 0px; */
      margin-top: 112px;
      margin-left: 6px;
    }

  }
  @media screen and (min-width: 475px){
    .main-content {
        height: 100%;
        width: 78%;
        /* margin: 50px -16px; */
        /* background-color: #f2f2f2; */
    }

    /* .nav li a {
        text-decoration: none;
        color: white;
      } */
      .nav {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 30px;
        background-color: #f1c038;
        }
      .nav li {
        box-shadow: box-shadow: 10px 5px 5px red;
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #eeb311;
        position: relative;
        left: 109px;
        width: 21%;
      }
      .top-links {
        color: red;
        position: relative;
        left: -106px;
        top: 4px;
        }
        .card img{
          height: 70%;
        }
        .main-name {
          margin-left: 51px;
          position: relative;
          bottom: 41px;
          text-align: center;
        }
        .main-nav-links{
          display: none;
        }
        .big-nav {
          margin-top: 112px;
          margin-left: 25px;
          /* position: relative; */
        }
        #center-pic {
          display: block;
          margin: auto;
          position: relative;
          bottom: 85px;
          width: 118%;
          height: 250px;
          border-radius: 5px solid #f7cf70;
        }
      .hi {
        display: none;
        }
        .hi-two {
          display:  none;
          }
        .cards-div {
          width: 122%;
          height: 100%;
          margin-top: -59px;
          position: relative;
          left: 0px;
          color: white;
      }

      .card {
        display: inline-block;
        /* background-color: #f1c038; */
        word-wrap: break-word;
        width: 23%;
        height: 100%;
        padding: 0px;
        margin-right: 1px;
        border-radius: 5px;
    }
    /* .first-card {
          margin-left: 0px;
      } */
  .middle-cards {
        margin-right: 0px;
  }
  .recent-works {
      width: 118%;
      height: 40px;
      background-color: #f2f2f2;
      margin-top: 17px;
  }
  .exampleWork {
      width: 118%;
      margin-top: 0px;
  }
  .recentWork {
    clear: both;
    display: inline-block;
    height: 130px;
    padding: 10px 8px;
    width: 42%;
    border: 1px solid wheat;
    background-color: gray;
    margin-top: 18px;
    margin-right: 4px;
    border-radius: 5px;
  }
  .recentWork-left-margin {
      margin-left: 0px;
      }

  }

  @media screen and (min-width: 768px){
    .main-content {
        height: 100%;
        width: 80%;
        margin: 12% 1%;
        /* background-color: #f2f2f2; */
    }

    /* .nav li a {
        text-decoration: none;
        color: white;
      } */
      .nav {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 30px;
        background-color: #f1c038;
        }
      .nav li {
        box-shadow: box-shadow: 10px 5px 5px red;
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #eeb311;
        position: relative;
        left: 12%;
        width: 21%;
      }
      .nav li a {
      /* width: 21%; */
    }
      .top-links {
        color: red;
        position: relative;
        left: -106px;
        top: 4px;
        }
        .card img{
          height: 70%;
        }
        .main-name {
          margin-left: 51px;
          position: relative;
          bottom: 41px;
          text-align: center;
        }
        .main-nav-links{
          display: none;
        }
        .big-nav {
          margin-top: 112px;
          margin-left: 25px;
          /* position: relative; */
        }
        #center-pic {
          display: block;
          margin: auto;
          position: relative;
          bottom: 85px;
          width: 118%;
          height: 250px;
          border-radius: 5px solid #f7cf70;
        }
      .hi {
        display: none;
        }
        .hi-two {
          display:  none;
          }
        .cards-div {
          width: 122%;
          height: 100%;
          margin-top: -59px;
          position: relative;
          left: 0px;
          color: white;
      }

      .card {
        display: inline-block;
        /* background-color: #f1c038; */
        word-wrap: break-word;
        width: 23%;
        height: 100%;
        padding: 0px;
        margin-right: 1%;
        border-radius: 5px;
    }
    /* .first-card {
          margin-left: 0px;
      } */
  .middle-cards {
        margin-right: 0px;
  }
  .recent-works {
      width: 118%;
      height: 40px;
      background-color: #f2f2f2;
      margin-top: 17px;
  }
  .exampleWork {
      width: 118%;
      margin-top: 0px;
  }
  .recentWork {
    clear: both;
    display: inline-block;
    height: 130px;
    padding: 10px 8px;
    width: 42%;
    border: 1px solid wheat;
    background-color: gray;
    margin-top: 18px;
    margin-right: 2%;
    border-radius: 5px;
  }
  .recentWork-left-margin {
      margin-left: 0px;
      }

  }
  @media screen and (min-width: 1024px){
    .main-content {
        height: 100%;
        width: 80%;
        margin: 6% 2%;
        /* background-color: #f2f2f2; */
    }

    /* .nav li a {
        text-decoration: none;
        color: white;
      } */
      .nav {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        /* height: 30px; */
        background-color: #f1c038;
        }
      .nav li {
        box-shadow: box-shadow: 10px 5px 5px red;
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #eeb311;
        position: relative;
        left: 12%;
        width: 21%;
        bottom: 4px;
        height: 18px;
        /* width: 21%; */
      }
      .nav li a {
        position: relative;
        bottom: -2px;
        font-size: 15px;
    }
    .nav li:hover{
      border-left: 5px solid #f66;
      /* border-right: 0px solid; */
      background-color: #D8E4E6;
    }
      .top-links {
        color: red;
        position: relative;
        left: -106px;
        top: 4px;
        }
        .card img{
          height: 70%;
        }
        .main-name {
          margin-left: 51px;
          position: relative;
          bottom: 41px;
          text-align: center;
        }
        .main-nav-links{
          display: none;
        }
        .big-nav {
          margin-top: 112px;
          margin-left: 25px;
          /* position: relative; */
        }
        #center-pic {
          display: block;
          margin: auto;
          position: relative;
          bottom: 85px;
          width: 118%;
          height: 255%;
          border-radius: 5px solid #f7cf70;
        }
      .hi {
        display: none;
        }
        .hi-two {
          display:  none;
          }
        .cards-div {
          width: 122%;
          height: 275px;
          margin-top: -59px;
          position: relative;
          left: 0px;
          color: white;
      }

      .card {
        display: inline-block;
        /* background-color: #f1c038; */
        word-wrap: break-word;
        width: 23%;
        height: 100%;
        padding: 0px;
        margin-right: 1%;
        border-radius: 5px;
    }
    /* .first-card {
          margin-left: 0px;
      } */
  .middle-cards {
        margin-right: 0px;
  }
  .recent-works {
      width: 118%;
      height: 40px;
      background-color: #f2f2f2;
      margin-top: 17px;
  }
  .exampleWork {
      width: 118%;
      margin-top: 0px;
  }
  .recentWork {
    clear: both;
    display: inline-block;
    height: 170px;
    padding: 10px 3px;
    width: 48%;
    border: 1px solid wheat;
    background-color: gray;
    margin-top: 18px;
    margin-right: 1%;
    border-radius: 5px;
  }
  .recentWork-left-margin {
      margin-left: 0px;
      }
      .fullPage{
        /* width: 91%; */
    /* margin: 0 auto; */
    margin: 1%;

      }
}
